@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
  padding: 0%;
  font-family: 'Montserrat', sans-serif;
}

nav{
  display: flex;
  height: 60px;
  background-color: white;
  justify-content: space-around;
  align-items: center;
}

nav a{
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 30px;
  border-radius: 10px;
  color: black;
}

.sign-in{
  display: flex;
  justify-content: center;
  background-color: #0046b8;
  color: white;
  border-radius: 25px;
  width: 150px;
}

#sign-in-burtguuleh{
  color: white;
}

.logo{
  display: flex;
  justify-content: center;
  color: rgb(0, 0, 210);
  font-size: 30px;
  text-decoration: none;
  width: 200px;
  border-radius: 10px;
}
.logo:hover{
  background-color: azure;
  color: rgb(0, 143, 200);
}

footer{
  display: flex;
  background-color: burlywood;
  justify-content: space-around;
  justify-self: start;
  align-items: center;
}
select{
  width: 50px;
}
h1{
  display: block;
}
