.body{
  display: flex;
  flex-wrap: wrap;
  width: 100vw;
  height: auto;
  background-color: whitesmoke;
  border-top: lightgray solid 1px;
}

.content{
  display: flex;
  flex-wrap: wrap;
  width: 96vw;
  height: auto;
  background-color: whitesmoke;
}

.description{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  height: 100%;
  flex-wrap: wrap;
  background-color: white;
  margin-left: 10px;
  border-bottom: solid 1px lightgray;
  border-radius: 15px;
}

.Allupdates{
  display: flex;
  width: 98%;
  flex-wrap: wrap;
  border-top: 3px green solid;
  border-bottom: 3px green solid;

}

.updates{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.diffLine{
  width: 100%;
  /* height: 1px; */
  border-top: 2px solid rgb(75, 255, 75);
}

.additionalDesc{
  width: 100%;
}

.image{
  display: flex;
  margin: 10px;
  border-radius: 15px;
}

.title{
  margin-top: 100px;
  display: flex;
  width: 95vw;
  height: 50px;
  margin: 10px;
  align-items: center;
}

.logo{
  display: flex;
  justify-content: center;
  color: rgb(0, 0, 210);
  font-size: 30px;
  text-decoration: none;
  width: 200px;
  border-radius: 10px;
}
.logo:hover{
  background-color: azure;
  color: rgb(0, 143, 200);
}

.handiv{
  display: flex;
  position: -webkit-sticky;
  position: sticky;
  top: 5px;
  left: 60%;
  top: 10%;
  width: 40%;
  height: 440px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: white;
  box-shadow:  0px 0px 5px 5px lightgray ;
  border-radius: 15px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 23px;

}
.handiv div{
  width: 95%;
}

.share{
  display: flex;
}

.button{
  width: 20px;
  height: 20px;
}

.comment{
  display: flex;
  justify-content: center;
}

.setgegdel{
  margin-top: 40px;
}

.line{
  height: 1px;
  width: 100%;
  background-color: lightgray;
}

.spacing{
  height: 50px;
  background-color: whitesmoke;
  width: 100vw;
}


#progress{
  display: flex;
  background-color: seagreen;
  height: 50px;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  font-size: x-small;
}

#progressText{
  display: flex;
  width: 100%;
  height: 10px;
  justify-content: space-around;
}

#progressBar{
  display: flex;
  width: 90%;
  height: 3px;
  background-color: lightslategray;
  border: solid gray 2px;
  border-radius: 5px;
}

#progresssLine{
  width: 60%;
  height: 3px;
  /* background-color: rgb(5, 188, 5); */
  background-color: rgb(1, 205, 1);
}